
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <!-- Font Awesome for Google icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   
</head>
<body>
    
    <div class="form-container">
        <div class="header"><a href="/"><img src="/images/Screenshot (58).png" alt="" style="height: 70px; width: auto; border-radius: 50%; margin-left: 25px;"></a>
        </div>
        
        <form action="/forgetPassword" method="post">
            <div class="form-group">
                <label for="name">Email</label>
                <input type="text" id="email" name="email" placeholder="Enter your Email" required autocomplete="off" value=''>
            </div>

     <p><%= message%></p>

            <button type="submit" class="submit-btn">Verify</button>
           
        </form>
    </div>
</body>
</html>


</body>
</html>
